! Xft settings ----------------------
Xft.autohint:		0
Xft.lcdfilter:  	lcddefault
Xft.hintstyle:		hintslight
Xft.hinting: 		true
Xft.antialias:		true
Xft.rgba:		rgb
Xft.dpi:		96

!Color scheme

! special
*.foreground:   #a2a2a2
*.background:   #282828
*.cursorColor:  #a2a2a2

! black
*.color0:       #555555
*.color8:       #888888

! red
*.color1:       #9c3528
*.color9:       #d64937

! green
*.color2:       #61bc3b
*.color10:      #86df5d

! yellow
*.color3:       #f3b43a
*.color11:      #fdd75a

! blue
*.color4:       #0d68a8
*.color12:      #0f75bd

! magenta
*.color5:       #744560
*.color13:      #9e5e83

! cyan
*.color6:       #288e9c
*.color14:      #37c3d6

! white
*.color7:       #a2a2a2
*.color15:      #f9f9f9

! Urxvt
*.font:			xft:Inconsolata:pixelsize=10
URxvt.boldFont:			xft:Inconsolata:pixelsize=10
URxvt.italicFont:		xft:Inconsolata:pixelsize=10
URxvt.boldItalicFont:		xft:Inconsolata:pixelsize=10
URxvt.geometry:			80x24
URxvt.internalBorder:		9
URxvt.modifier:			alt
URxvt.mouseWheelScrollPage:	true
URxvt.scrollBar:		false
URxvt.depth:			32
URxvt.background:		[80]#000000
